.buttons_panel_map_overview_detail{
    padding: 6px 8px;
    font: 10px/12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height:220px;
    width: 60px;
    margin-right: 5px;
}

.mini-map-container{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: 350px;
    width: 350px;
}

.page_header{
    background: rgb(179, 221, 242);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.title{
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: black;
}

.subtitle{
    color: rgb(255,0,0);
    font-weight: normal;
    letter-spacing: .1em;
}

#map_filters{
    padding-top: 5px;
    padding-bottom:5px;
}

.toogles_label{
    color: white;
}

.btn_toogle{
    font-size: 10px; !important;
}

path {
    /*stroke-width: 1;*/
    /*fill-opacity: 0.6;*/
}

.area_details_container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 10px;
}

.details_title {
    color: black;
    font-size: 20px;
    vertical-align: middle;
}

.details_label {
    color: black;
    font-size: 14px;
}

.details_value {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.separator {
    padding-top: 10px;
}

.line-chart-header{
    font-size: 12px;
    margin-left: 10px;
}

.title_container {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    /*background-color: rgba(245,245,245, 0.8);*/
    /*background: rgb(179, 221, 242);
    /*padding-bottom: 10px;*/
}

.path-linechart{
    stroke-width: 1;
    fill-opacity: 0;
}

.panel-left{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #d2d2d2;
}

.panel-right{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #d2d2d2;
}

.panel-header{
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    background: rgb(179, 221, 242);
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.panel-subheader{
    margin-top: 10px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.area_details_separator{
    height: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

#nomogram_ranking{
    height: 200px;
}

.icon-1 {
    color: #e41a1c;
}

.icon-2 {
    color: #377eb8;
}

.icon-3 {
    color: #4daf4a;
}

.icon-4 {
    color: #984ea3;
}

.icon-5 {
    color: #ff7f00;
}

.icon-6 {
    color: #ffff33;
}

.icon-7 {
    color: #a65628;
}

.map-filters {
    font-size: 12px;
    font-family: Arial;
    padding-right: 5px;
}