
body {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif !important;
}

.content-header {
	font-family:  'Open Sans', sans-serif;
    background: rgb(179, 221, 242);
    font-weight: bolder;
    vertical-align: bottom;
}

.mini-map-container{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.content-details {
	background-color: #DCDCDC;
}

.dot{
    fill: orange;
    fill-opacity: .3;
}

.dot_hovered {
    fill-opacity: 1;
    stroke-width:3px;
    stroke:black;
    stroke-dasharray: 5;
}

.dot_selected {
    fill-opacity: 0.3;
    stroke-width:3px;
    stroke:black;
}

.path-linechart{
    stroke-width: 1;
    fill-opacity: 0;
}

.linechart-highlight{
    stroke: black !important;
    fill-opacity: 0;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px 'Open Sans', sans-serif;
}

.details_title {
    color: black;
    vertical-align: middle;
}

.details_label {
    color: black;
}

.details_value {
    color: black;
    font-weight: bold;
}

.mini-map-container{
    border-style: solid;
    border-width: 2px;
}

.chart-header{
    text-align: left;
    color: black;
}

.histogram-title {
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-anchor: middle;
}

.linechart-title {
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-anchor: middle;
}

.details_legend_container{
    padding: 6px 8px;
    font: 10px/12px 'Open Sans', sans-serif;
    background: white;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height:220px;
    width: 80px;
    margin-right: 5px;
}

.overview_legend_container{
    padding: 6px 8px;
    font: 10px/12px 'Open Sans', sans-serif;
    background: white;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height:130px;
    width: 80px;
    margin-right: 5px;
}

.linechart-y-text {
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-anchor: left;
}

.leaflet-popup-content{
    line-height: 1.2 !important;
}

.popup-value {
    font-weight: bold;
}

.info-box-number {
    font-weight: normal !important;
}

.bg-white {
    background-color: white;
    color: black;
}

.box.box-solid[class*='bg']>.box-header{
    color: black !important;
}

.fa-trash-o:hover{
    cursor: pointer;
}

#linechart-comparison-list{
    overflow-y: scroll;
}

.list-group-item:hover{
    background-color: #E7AD7A;
}

.list-group-item-title:hover{
    background-color: #337ab7;
}

.main-header .logo {
    font-family: 'Open Sans', sans-serif !important;
}

.box.box-solid>.box-header .btn.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: black;
  stroke-width: 1px;
  font-family: 'Open Sans', sans-serif !important;
}

.content-wrapper{
    background-color: white !important;
}

.list-group-item-title{
    cursor: pointer;
    background-color: grey;
}

.main-header .logo {
    width: 300px !important;
}

hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

@media screen and (min-width: 1280px) {
    .page-header {

    }

    .content-header {
        font-size: 10px;
    }

    .nav-tabs-custom>.nav-tabs>li.header {
        line-height: 20px !important;
        padding: 0 10px !important;
        font-size: 12px !important;
    }

    .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
        display: inline-block;
        font-size: 12px !important;
        margin: 0;
        line-height: 1;
    }

    .info-box-number {
        font-size: 14px !important;
    }

    .info-box {
        min-height: 70px !important;
        border-radius: 2px;
        margin-bottom: 10px !important;
    }

    .cube {
        height: 65px;
    }

    .content {
        padding: 5px !important;
    }

    .map-area {
        height: 590px;
    }

    .mini-map-container {
        height: 240px;
        width: 180px;
    }

    .content-details {
        height: 700px;
    }

    .content-right {
        height: 350px;
    }

    .main-footer {
        padding: 5px !important;
    }

    .details-graph-container{
        height: 90px;
    }

    .details-comparison-container{
        height: 100px;
    }

    .details_title {
        font-size: 16px;
    }

    .details_value {
        font-size: 12px;
    }

    .details_label {
        font-size: 14px;
    }

    .default-info {
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    .chart-header {
        padding-left: 25px;
        font-weight: bold;
        font-size: 12px;
    }

    #selected-word-cloud{
        height: 150px;
    }

    .comparison-charts{
        height: 242px;
    }

    #linechart-comparison-list{
        height: 230px;
    }

    .nav-tabs-custom {
        margin-bottom: 8px !important;
    }

    .chart-filter {
        font-size: 10px;
    }

    .filter-value {
        font-size: 10px;
    }

    .leaflet-touch .leaflet-bar a {
        width: 15px;
        height: 15px;
        line-height: 15px;
    }

    .leaflet-touch .leaflet-control-zoom-in {
        font-size: 15px;
    }

    #compare-list-group {
        font-size: 10px;
    }

    .hover-line{
        font-size: 12px;
    }

    .histogram-community-label{
        font-size: 12px;
    }

    .map-area{
        stroke-width: 1;
    }
}

@media screen and (min-width: 1900px) {
    .content-header {
    	font-size: 14px;
    }

    .map-area {
    	height: 810px;
    }

    .mini-map-container {
    	height: 300px;
    	width: 220px;
    }

    .nav-tabs-custom>.nav-tabs>li.header {
        line-height: 20px !important;
        padding: 0 10px !important;
        font-size: 12px !important;
    }

    .cube {
        height: 90px;
    }

    .info-box-number {
        font-size: 18px !important;
    }

    .content {
        padding: 15px !important;
    }

    .content-details {
    	height: 980px;
    }

    .content-right {
    	height: 450px;
    }

    .main-footer {
        padding: 15px !important;
    }

    .details-graph-container{
        height: 120px;
    }

    .details-comparison-container{
        height: 180px;
    }

    .details_title {
        font-size: 22px;
    }

    .details_value {
        font-size: 16px;
    }

    .details_label {
        font-size: 16px;
    }

    .default-info {
        padding-left: 25px;
        padding-top: 20px;
    }

    #selected-word-cloud{
        height: 250px;
    }

    .comparison-charts{
        height: 390px;
    }

    #linechart-comparison-list{
        overflow-y: scroll;
        height: 360px;
    }

    .leaflet-touch .leaflet-bar a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .leaflet-touch .leaflet-control-zoom-in {
        font-size: 30px;
    }

    #compare-list-group {
        font-size: 14px;
    }

    .overview_legend_container{
        padding: 6px 8px;
        font: 10px/12px 'Open Sans', sans-serif;
        background: white;
        background: rgba(0,0,0,0);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        height: 130px;
        width: 60px;
        margin-right: 5px;
    }

    .histogram-community-label{
        font-size: 12px;
    }

    .map-area{
        stroke-width: 1;
    }
}

@media screen and (min-width: 3800px) {
    .content-header {
    	font-size: 30px;
    }

    .map-area {
    	height: 1800px;
    }

    .mini-map-container {
    	height: 800px;
    	width: 450px;
    }

    .content-details {
    	height: 2000px;
    }

    .content-right {
    	height: 1000px;
    }

    .details-graph-container{
        height: 300px;
    }

    .details_title {
        font-size: 40px;
    }

    .details_value {
        font-size: 50px;
    }

    .details_label {
        font-size: 30px;
    }

    #selected-word-cloud{
        height: 400px;
    }

    #linechart-comparison-list{
        overflow-y: scroll;
        height: 500px;
    }

    .nav-tabs-custom>.nav-tabs>li.header {
        line-height: 35px !important;
        padding: 0 10px !important;
        font-size: 30px !important;
    }

    #compare-list-group {
        font-size: 30px;
    }

    .leaflet-touch .leaflet-bar a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .leaflet-touch .leaflet-control-zoom-in {
        font-size: 30px;
    }

    #selected-word-cloud{
        height: 350px;
    }

    .comparison-charts{
        height: 780px;
    }

    .histogram-title{
        font-size: 18px;
    }

    .linechart-title{
        font-size: 18px;
    }

    .chart-filter{
        font-size: 25px;
    }

    .filter-value{
        font-size: 25px;
    }

    .info-box-number {
        font-size: 25px !important;
    }

    .cube{
        height: 120px;
    }

    .leaflet-popup-content{
        line-height: 1.5;
        font-size: 25px;
    }

    .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
        display: inline-block;
        font-size: 30px !important;
        margin: 0;
        line-height: 1;
    }

    .box-header-top{
        margin-top: 30px;
    }

    .box.box-solid>.box-header .btn.btn-default {
        font-size: 25px;
    }

    .dropdown-menu {
        font-size: 25px;
    }

    .linechart-y-text{
        font-size: 20px;
    }

    .axis--y{
        font-size: 15px;
    }

    .axis--x{
        font-size: 15px;
    }

    .x.axis{
        font-size: 18px;
    }

    .y.axis{
        font-size: 18px;
    }

    .scatter-x-text{
        font-size: 18px!important;
    }

    .scatter-y-text{
        font-size: 18px!important;
    }   

    .details_legend_container{
        padding: 10px 10px;
        font: 25px 'Open Sans', sans-serif;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        height:400px;
        width: 200px;
        margin-right: 20px;
    }

    .legend-text {
        font-size: 25px;
    }

    .legend-text-overview {
        font-size: 18px;
    }

    .overview_legend_container{
        padding: 6px 8px;
        font: 10px/12px 'Open Sans', sans-serif;
        background: white;
        background: rgba(0,0,0,0);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        height:200px;
        width: 100px;
        margin-right: 5px;
    }

    .linechart-hover-text{
        font-size: 20px;
    }

    .details-comparison-container{
        height: 350px;
    }

    .histogram-community-label{
        font-size: 20px;
    }

    .map-area{
        stroke-width: 2;
    }
}