<div class="row">
  <div class="col-lg-12">
    <span class="info-box-text details_title"><span data-bind="text:community"></span></span>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <span class="info-box-number">Electricity: <span id="lblInfoTotalElectricity" data-bind="text:electricity"> <small>kWh</small></span>
    <span class="info-box-number">Gas:  <span id="lblInfoTotalGas" data-bind="text:gas"> <small>thm</small></span>
  </div>
  <div class="col-lg-4">
    <span class="info-box-number">Population: <span data-bind="text:population"> </span>
    <span class="info-box-number">Total Units: <span data-bind="text:total_units"></span>
  </div>
  <div class="col-lg-4">
    <span class="info-box-number">kWh sqft: <span data-bind="text:kwh_sqft"></span>
    <span class="info-box-number">Thm sqft: <span data-bind="text:therm_sqft"></span>
  </div>
</div>