<!--<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>-->
<div class="row default-info"> 
    <div class="row title_container"> 
        <div class="col-md-12"> 
         <b><span data-bind="text:community" class="details_title"></span></b> 
        </div> 
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-1"></i>
            </span>-->
            <span class="details_label">Electricity:</span>
            <span id="lblInfoTotalElectricity" class="details_value" data-bind="text:electricity">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-2"></i>
            </span>-->
            <span class="details_label">Gas:</span>
            <span id="lblInfoTotalGas" class="details_value" data-bind="text:gas">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-3"></i>
            </span>-->
            <span class="details_label">Population:</span>
            <span class="details_value" data-bind="text:population">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-4"></i>
            </span>-->
            <span class="details_label">Total Units:</span>
            <span class="details_value" data-bind="text:total_units">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-5"></i>
            </span>-->
            <span class="details_label">Occupied Units:</span>
            <span class="details_value" data-bind="text:occupied_units">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-6"></i>
            </span>--> 
            <span class="details_label">KWH sqft:</span>
            <span class="details_value" data-bind="text:kwh_sqft">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x icon-7"></i>
            </span>-->
            <span class="details_label">THERMS sqft:</span>
            <span class="details_value" data-bind="text:therm_sqft">
        </div>
    </div>
</div>